* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: var(--square-width);
  height: var(--square-height);
  border: 0.0002px solid #444;
}