* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding-top: 20px;
  background: #464E47;
}

.container {
  margin: auto;
  min-width: 1000px;
  max-width: 1000px;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 0.0002px solid #444;
}

.hover-in {
  background-color: #CCFCCB;
  cursor: none;
}

.new-grid {
  margin-bottom: 30px;
  min-width: 250px;
  font-size: 16px;
  background-color: #464E47;
  color: #F1FFFA;
  padding: 20px 25px;
}

.new-grid:hover {
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  border: 4px solid #96E6B3;
}

.title {
  color: #F1FFFA;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}